@import "@/styles/colors";

.filtersContainer {
  display: flex;
  gap: 0.4rem;
  padding: 2rem;

  .input {
    width: 220px;
    border-radius: 20px;
  }

  .buttonsContainer {
    margin-left: 0.4rem;

    display: flex;
    gap: 0.4rem;

    button {
      border: none;
      border-radius: 20px;

      min-height: 100%;
      padding: 0rem 2rem;
      color: $white-color;

      font-weight: 500;
      font-size: 0.875rem;

      cursor: pointer;
      transition: filter 0.2s;

      display: flex;
      align-items: center;
      gap: 0.7rem;

      &:hover {
        filter: brightness(0.8);
      }

      &[type="button"] {
        background: $red-color-100;
      }

      &[type="submit"] {
        background: $blue-color-200;
      }
    }
  }
}
