@import "@/styles/colors";

.header {
  display: flex;
  align-items: start;
  gap: 1rem;

  .createNewButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    margin-left: auto;

    font-size: 0.875rem;
    font-weight: 500;

    cursor: pointer;
    transition: filter 0.2s;

    color: $white-color;
    background: $green-color-100;

    display: flex;
    align-items: center;
    gap: 0.6rem;

    &:hover {
      filter: brightness(0.7);
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}

.searchInput {
  background: $white-color;
  border-radius: 20px;
  align-self: flex-start;
}

.tableSection {
  background: $white-color;
  border-radius: 20px;

  padding: 2rem;
}

.carModelContainer {
  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;
  transition: filter 0.2s;

  .carImage {
    object-fit: contain;

    width: 50px;
    min-width: 50px;
    height: 50px;

    border-radius: 50%;
    background: $gray-color-50;
    padding: 0.2rem;
  }

  b {
    color: $gray-color-300;
  }

  &:hover {
    filter: brightness(0.8);
  }
}

.showDetailsButton {
  background: $blue-color-100;
  border: none;
  color: $white-color;

  font-weight: 500;
  font-size: 0.875rem;

  padding: 0.6rem 1rem;
  border-radius: 20px;

  cursor: pointer;
  transition: filter 0.2s;

  &:not(:disabled):hover {
    filter: brightness(0.8);
  }

  &:disabled {
    opacity: 0.7;
    cursor: pointer;
  }
}

@media (max-width: 850px) {
  .tableSection {
    background: none;
    padding: 0;
  }

  .carModelContainer {
    .carImage {
      display: none;
    }
  }
}
