@import "@/styles/colors";

.drawerContainer {
  display: none;
  
  nav {
    background: $blue-color-700;
    color: $gray-color-200;

    height: 100%;

    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      height: 100%;
      padding: 3rem;
      font-size: 0.875rem;

      list-style-type: none;

      li {
        display: flex;
        align-items: center;
        gap: 7px;

        line-height: 0;

        cursor: pointer;
        transition: filter 0.2s;

        &:not(.menuActive):hover {
          filter: brightness(0.6);
        }

        &.menuActive {
          color: $brown-color-100;
        }

        &.managementMenuItem {
          background: $brown-color-100;
          color: $blue-color-600;

          border-radius: 20px;
          padding: 0.7rem;
          justify-content: center;
          margin-top: auto;

          span {
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .drawerContainer {
    display: block;
  }
}
