@import "../../styles/colors.scss";

.headerContainer {
  width: 100vw;
  padding: 2rem;
  padding-bottom: calc(2rem + 35px);
  font-size: 0.875rem;

  display: flex;
  justify-content: space-between;

  background: $blue-color-700;
  color: $gray-color-100;

  .user {
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 40px;

      list-style-type: none;
    }
  }
}
