@import "@/styles/colors";

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  width: 100%;

  .groupItem {
    border-radius: 20px;
    box-shadow: 1px 3px 8px rgba(0 0 0 / 0.1);
    overflow: hidden;

    .listItem {
      background: $white-color;
      color: $gray-color-400;

      display: flex;
      align-items: center;
      gap: 1rem;

      padding: 1rem 1.4rem;
      font-size: 0.875rem;
      font-weight: 500;

      cursor: pointer;

      &:disabled {
        opacity: 0.4;
      }
    }

    .collapse {
      .collapseList {
        border: 1px solid $gray-color-200;
        border-top: none;
        background: $gray-color-100;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0 !important;

        .collapseListItem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 2rem;

          font-size: 0.875rem;
          font-weight: 500;

          text-align: right;

          &:not(:last-child) {
            border-bottom: 1px solid $gray-color-200;
          }
        }
      }
    }
  }
}