@import "@/styles/colors";

.asideContainer {
  background: $blue-color-700;
  box-shadow: 1px 2px 8px rgba(0 0 0 / 0.1);

  border-radius: 20px;
  padding: 2rem 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 80px;
  width: 80px;

  flex: 1;

  position: fixed;
  height: calc(100% - 4rem);

  .returnSysLink {
    background: none;
    border: none;

    .homeIcon {
      color: $gray-color-100;
      font-size: 1.3rem;

      cursor: pointer;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  nav {
    margin: auto 0px;

    ul {
      list-style-type: none;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 35px;

      li {
        cursor: pointer;
        transition: filter 0.2s;

        &:not(.menuActive):hover {
          filter: brightness(0.6);
        }
        .icon {
          color: $gray-color-100;

          font-size: 1.4rem;
        }
        &.menuActive {
          .icon {
            color: $brown-color-100;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .asideContainer {
    display: none;
  }
}
