@import "@/styles/colors";

.footerContainer {
  width: 100vw;
  padding: 2rem;

  background: $blue-color-600;
  color: $gray-color-100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  .infosContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .versionText {
      text-wrap: nowrap;
    }
  }

  .swiperContainer {

    .slideItem {
      width: 100px !important;
      margin: 1rem 0px;
  
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
  
      .image {
        object-fit: contain;
  
        height: 100px;
      }
    }
  }
}

@media (max-width: 880px) {
  .footerContainer {
    flex-direction: column-reverse;
    text-align: center;

    .swiperContainer {
      width: 95%;
    }
  }
}
