@import "@/styles/colors";

.carDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem;

  .titleContainer {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
      border: none;
      padding: 0.5rem 0.7rem;
      border-radius: 20px;
      line-height: 1;

      background: none;

      cursor: pointer;
      transition: background-color 0.2s;

      .icon {
        height: 1.2rem;
        color: $gray-color-300;
      }

      &:hover {
        background: $gray-color-100;
      }
    }
  }

  section {
    display: grid;
    grid-template-columns: 1.6fr 1px 1fr;
    gap: 2rem;

    .mobileDivider {
      display: none;
    }

    .carImageContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .carImage {
        border-radius: 20px;
        object-fit: cover;
        width: 100%;
        max-height: 500px;
        border: 1px solid $gray-color-200;
      }

      .otherImagesList {
        list-style-type: none;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        width: 100%;

        .imageContainer {
          cursor: pointer;
          transition: filter 0.2s;

          border-radius: 20px;
          overflow: hidden;
          box-shadow: 1px 3px 5px rgba(0 0 0 / 0.5);

          display: flex;
          align-items: center;
          justify-content: center;
          width: 250px;

          .image {
            object-fit: cover;

            height: 120px;
          }

          &:hover {
            filter: brightness(0.8);
          }
        }
      }
    }

    .infosContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .specificationsContainer,
      .categoryContainer,
      .descriptionContainer,
      .summaryContainer {
        background: $gray-color-50;
        color: $gray-color-400;
        border-radius: 20px;

        padding: 0.6rem 1rem;
        font-size: 0.875rem;
        font-weight: 500;
        border: 1px solid $gray-color-200;

        h4 {
          font-weight: 600;
          color: $gray-color-300;
        }
      }

      .summaryContainer {
        text-align: center;
        p {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;

          padding: 0.6rem;

          &:not(:last-child) {
            border-bottom: 1px solid $gray-color-200;
            text-align: start;
          }
        }
      }

      .specificationsList {
        list-style-type: none;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: auto;

        input,
        button {
          flex: 1;
          height: 100%;
        }

        .rentalButton {
          background: $blue-color-600;
          color: $white-color;
          box-shadow: 1px 3px 7px rgba(0 0 0 / 0.2);

          border: none;
          border-radius: 20px;
          padding: 1.2rem;

          margin-top: auto;

          font-weight: 500;
          font-size: 0.875rem;

          cursor: pointer;
          transition: filter 0.2s;

          &:not(:disabled):hover {
            filter: brightness(0.8);
          }

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

.alertText {
  color: $gray-color-300;
  font-size: 0.785rem;
  font-weight: 400;
}

@media (max-width: 1237px) {
  .carDetailsContainer {
    section {
      display: flex;
      flex-direction: column;

      .mobileDivider {
        display: block;
      }

      .carImageContainer {
        .carImage {
          flex: 1;
        }
      }
    }
  }
}
