@import "@/styles/colors";

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;

  .backButton {
    border: none;
    padding: 0.5rem 0.7rem;
    border-radius: 20px;
    line-height: 1;

    background: none;

    cursor: pointer;
    transition: background-color 0.2s;

    .icon {
      height: 1.2rem;
      color: $gray-color-300;
    }

    &:hover {
      background: $gray-color-100;
    }
  }

  .registerButton {
    margin-left: auto;

    border-radius: 20px;
    background: $green-color-100;
    border: none;
    color: $white-color;

    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;

    width: 170px;

    cursor: pointer;
    transition: filter 0.2s;

    &:not(:disabled):hover {
      filter: brightness(0.8);
    }
  }
}

.section {
  padding: 2rem;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: $white-color;

  .fields {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    .input {
      min-width: 222px;
    }
  }
}

.addImageButton {
  background: none;
  border-radius: 20px;
  border: 1px solid $blue-color-100;
  color: $blue-color-100;

  font-size: 0.875rem;
  font-weight: 500;

  padding: 0.6rem 1rem;
  width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s;

  &:not(:disabled):hover {
    background: $blue-color-100;
    color: $white-color;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.imageText {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
