@import "@/styles/colors";

.loginContainer {
  padding: 2rem;

  border-radius: 15px;

  animation: fadeIn 0.2s;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    main {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .input {
        background: $gray-color-100;
        border-radius: 15px;
      }
    }

    footer {
      button {
        width: 100%;
        padding: 1.1rem;
        border: none;
        border-radius: 15px;

        font-size: 0.875rem;
        font-weight: 500;

        cursor: pointer;
        transition: filter 0.2s;

        color: $white-color;
        background: $blue-color-600;
        box-shadow: 1px 3px 7px rgba(0 0 0 / 0.15);

        &:hover {
          filter: brightness(0.7);
        }
      }

      .createAccountLink {
        color: $blue-color-600;

        text-decoration: underline;
        text-align: center;
        margin-top: 2rem;

        display: block;

        font-size: 0.875rem;
        font-weight: 500;

        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.6);
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
