@import "@/styles/colors";

.listCarsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  background: $gray-color-50;
  flex: 1;
  height: 100%;

  list-style-type: none;
}
