@import "@/styles/colors";

.header {
  display: flex;
  align-items: center;
  gap: 1rem;

  .searchInput {
    margin-left: auto;
    background: $white-color;
    border-radius: 20px;
  }
}

.tableSection {
  background: $white-color;
  border-radius: 20px;

  padding: 2rem;
}

.deleteButton {
  background: none;
  border: none;
  color: $red-color-100;

  font-size: 1.1rem;

  margin-left: auto;

  transition: filter 0.2s;
  cursor: pointer;

  &:not(:disabled):hover {
    filter: brightness(0.8);
  }
}