@import "@/styles/colors";

.listCarsContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 1;

  padding: 2rem;

  background: $gray-color-50;
  list-style-type: none;
}
