@import "../../../styles/colors.scss";

.table {
  width: 100%;

  border-collapse: collapse;
  text-align: left;

  transition: opacity 0.2s;

  thead {
    tr {
      //display: flex;
      //flex-direction: row;
      //align-items: center;
      border-bottom: 1px solid $gray-color-100;

      th {
        //flex: 1;
        padding: 0.6rem 1.1rem;
      }
    }
  }

  tbody {
    tr {
      //display: flex;
      //flex-direction: row;
      //align-items: center;

      &:not(:last-child) {
        border-bottom: 1px solid $gray-color-100;
      }

      td {
        // flex: 1;
        padding: 0.6rem 1.1rem;
      }
    }
  }
}

.emptyCell {
  text-align: center;
  margin-top: 2rem;
}
