@import "@/styles/colors";

.avatar {
  border: 1px solid $gray-color-50;

  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}

.menuItem {
  display: flex;
  align-items: center;

  gap: 20px;

  color: $gray-color-400;

  span {
    margin: 0px auto;
  }
}
