@import "@/styles/colors";

.carItem {
  display: flex;
  flex-direction: column;

  width: 400px;
  background: $white-color;

  color: $gray-color-400;

  border-radius: 20px;

  header {
    display: flex;
    align-items: center;
    padding: 12px;

    .bookmarkIcon {
      height: 1rem;
    }
  }

  main {
    .carImage {
      object-fit: contain;
      height: 130px;
      transform: scale(1.5);

      cursor: pointer;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.7);
      }
    }
  }

  footer {
    border-top: 1px solid $gray-color-100;
    padding: 12px;

    display: flex;
    align-items: center;
    
    .dailyRateText {
      font-size: 0.875rem;
      font-weight: 500;

      margin-left: auto;

      b {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 805px) {
  .carItem {
    width: 100%;

    .carImage {
      max-height: 250px;
    }
  }
}
