@import "@/styles/colors";

.section {
  background: $white-color;

  border-radius: 20px;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  header {
    display: flex;
    align-items: center;

    .addImageButton {
      background: none;
      border-radius: 20px;
      border: 1px solid $green-color-100;
      color: $green-color-100;

      font-size: 0.875rem;
      font-weight: 500;

      padding: 0.6rem 1rem;
      width: 200px;
      margin-left: auto;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;

      cursor: pointer;
      transition:
        background-color 0.2s,
        color 0.2s;

      &:not(:disabled):hover {
        background: $green-color-100;
        color: $white-color;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}

.imagesContainer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;

  .listImages {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .defaultImage,
  .imageCard {
    border-radius: 20px;
    width: 300px !important;
    margin: 1rem 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    box-shadow: 1px 2px 5px rgba(0 0 0 / 0.15);

    cursor: pointer;

    .image {
      object-fit: cover;

      height: 150px;
    }

    &.defaultImage {
      border: 1px solid $brown-color-100;

      .image {
        object-fit: contain;
        transform: scale(0.95);
      }
    }

    .removeImageButton,
    .updateDefaultImageButton {
      position: absolute;
      z-index: 99;
      top: 15px;
      right: 15px;
      display: none;

      background: none;
      border: none;

      font-size: 1.2rem;

      cursor: pointer;
      transition: filter 0.2s;
      animation: appear 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }

    .imageTag {
      position: absolute;
      z-index: 20;
      top: 15px;
      left: 15px;

      display: none;

      font-size: 2rem;
      font-weight: 600;

      animation: appear 0.2s;

      color: $gray-color-100;

      padding: 0.6rem 1rem;
      border-radius: 15px;
    }

    .removeImageButton {
      color: $red-color-100;
    }
    .updateDefaultImageButton {
      color: $blue-color-100;
    }

    &:hover {
      &::after {
        content: "";

        position: absolute;
        inset: 0;
        z-index: 2;

        background: rgba(0 0 0 / 0.5);
        animation: appear 0.2s;
      }

      .removeImageButton,
      .updateDefaultImageButton,
      .imageTag {
        display: block;
      }
    }
  }
}

@media (max-width: 850px) {
  .imagesContainer {
    flex-direction: column;

    .listImages {
      justify-content: center;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
