// Temas
$white-color: #ffffff;
$black-color: #000000;

$green-color-200: #00875f;
$green-color-100: #00b37e;

$red-color-200: #aa2834;
$red-color-100: #ed4252;

$gray-color-700: #121214;
$gray-color-600: #202024;
$gray-color-500: #29292e;
$gray-color-400: #323238;
$gray-color-300: #7c7c8a;
$gray-color-200: #c4c4cc;
$gray-color-100: #e1e1e6;
$gray-color-50: #f0f0f0;

$blue-color-700: #0f132e;
$blue-color-600: #19274e;
$blue-color-400: #536d88;
$blue-color-200: #3264ff;
$blue-color-100: #31a2ff;

$brown-color-200: #b49b85;
$brown-color-100: #eac195;