@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import "./colors.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
textarea,
input,
button {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  min-height: 100vh;

  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .main {
    margin-top: -35px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    flex: 1;
    height: 100%;

    background: $white-color;
  }
}

a {
  text-decoration: none;
}
