@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import "./colors.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
textarea,
input,
button {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  min-height: 100vh;

  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .main {
    margin-top: -35px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    flex: 1;
    height: 100%;
    overflow: hidden;

    background: $white-color;

    display: flex;
    flex-direction: column;
  }

  .authContainerPage {
    display: flex;
    align-items: center;
    justify-content: center;

    background: $gray-color-50;

    height: 100vh;
    width: 100vw;
  }

  .managementContainer {
    display: grid;
    grid-template-columns: 80px 1fr;
    flex: 1;
    gap: 2rem;

    background: $gray-color-50;

    padding: 2rem;
    padding-bottom: 6rem;

    .managementSections {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      border-radius: 20px;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 850px) {
  body {
    .managementContainer {
      display: flex;
      flex-direction: column;
    }
  }
}
