@import "@/styles/colors";

.header {
  display: flex;
  align-items: center;
  gap: 2rem;

  .backButton {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    padding: 0.4rem 0.7rem;
    border-radius: 20px;

    background: none;
    border: none;
    font-weight: 500;

    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background: $gray-color-100;
    }
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
