@import "@/styles/colors";

.header {
  display: flex;
  align-items: center;
  gap: 1rem;

  .searchInput {
    margin-left: auto;
    background: $white-color;
    border-radius: 20px;
  }
}

.tableSection {
  background: $white-color;
  border-radius: 20px;

  padding: 2rem;
}


.actionsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;

  .actionButton {
    background: none;
    border: none;

    font-size: 1.1rem;

    margin-left: auto;

    transition: filter 0.2s;
    cursor: pointer;

    &:not(:disabled):hover {
      filter: brightness(0.8);
    }
  }

  .deleteButton {
    @extend .actionButton;
    color: $red-color-100;
  }

  .editButton {
    @extend .actionButton;
    color: $blue-color-100;
  }
}